# travis.yml for github.com/jts/nanopolish

language: generic

env:
  global:
    - SETARCH=

matrix:
  include:
    - os: linux
      arch: amd64
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env: "CC=gcc-4.9 CXX=g++-4.9 AR=gcc-ar-4.9 NM=gcc-nm-4.9 RANLIB=gcc-ranlib-4.9"
    - os: linux
      arch: amd64
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
      env: "CC=gcc-8 CXX=g++-8 AR=gcc-ar-8 NM=gcc-nm-8 RANLIB=gcc-ranlib-8"
    - os: linux
      arch: arm64
      addons:
        apt:
          packages:
            - libhdf5-serial-dev
      env:
        - HDF5="system"
        - H5_INCLUDE="-I/usr/include/hdf5/serial"
        - LDFLAGS="-L/usr/lib/aarch64-linux-gnu/hdf5/serial"
    - name: arm32
      os: linux
      arch: arm64
      env:
        # https://packages.ubuntu.com/xenial/crossbuild-essential-armhf
        - GCC_PREFIX="arm-linux-gnueabihf-"
        - CC="$GCC_PREFIXgcc"
        - CXX="$GCC_PREFIXg++"
        - AR="$GCC_PREFIXgcc-ar"
        - NM="$GCC_PREFIXgcc-nm"
        - RANLIB="$GCC_PREFIXgcc-ranlib"
        - SETARCH='setarch linux32 --verbose --32bit'
        - HDF5="system"
        - H5_INCLUDE="-I/usr/include/hdf5/serial"
        - LDFLAGS="-L/usr/lib/arm-linux-gnuabihf/hdf5/serial"
      install:
        - sudo dpkg --add-architecture armhf
          sudo apt-get -yq update
        - |
          sudo apt-get -yq install \
            crossbuild-essential-armhf \
            libhdf5-dev:armhf

before_script:
    - dpkg --print-architecture
    - dpkg --print-foreign-architectures
    - setarch --list
    # Suppress all compiler warnings for hdf5 Makefile
    # to display the log without downloading the raw log on Travis log page.
    # Travis finishs with error when exceeding the limit of 4 MB of log length.
    - export H5_CFLAGS="-w"

script:
    - $SETARCH make && $SETARCH make test
